target
*.class
*.js~
*.js#
*.md#
*.md~
*.mdt~
*.mdt#
*.iml
*.#*
*.idea
.DS_Store
build.local.properties
/src/main/javascript/lib/.#tabcomplete.js
/src/main/javascript/plugins/.#example-1.js
/nbproject/private/private.xml
/nbproject/project.xml
/src/docs/nbproject/private/
/src/docs/build//#build.xml#
/#build.xml#
/src/docs/build/classes/generateApiDocs.js
/src/docs/build/classes/generateTOC.js
/src/docs/build/classes/hello.js
/src/docs/build/classes/.netbeans_automatic_build
/src/docs/build/classes/.netbeans_update_resources
build
nbproject
/manifest.mf
/platform.properties
CopyLibs